@{
    List<Car> data = (List<Car>)(ViewData["DanhSachXe"] ?? new());
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Customer>
<!-- gallery section start -->
<div class="gallery_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="gallery_taital">DÒNG XE NỔI BẬT</h1>
            </div>
        </div>
        <div class="gallery_section_2">
                <div class="row">
            @foreach(var item in data)
            {
                    <div class="col-md-4">
                        <div class="gallery_box">
                            <div class="gallery_img"><img src="@item.Image"></div>
                            <h3 class="types_text">@item.Model</h3>
                            <p class="looking_text text-danger" style="font-weight:bold">@item.Price</p>
                            <p class="description">@item.Description</p>
                            <div style="display:flex;justify-content:space-between">

                                <div><a href="#">Thông tin </a></div>
                                <div><a href="#">Gọi ngay </a></div>
                            </div>
                         
                        </div>
                    </div>
            }
                </div>
           
        </div>
      
    </div>
</div>
<!-- gallery section end -->
<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="choose_taital">WHY CHOOSE US</h1>
            </div>
        </div>
        <div class="choose_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon_1"><img src="images/icon-1.png"></div>
                    <h4 class="safety_text">SAFETY & SECURITY</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="images/icon-2.png"></div>
                    <h4 class="safety_text">Online Booking</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="images/icon-3.png"></div>
                    <h4 class="safety_text">Best Drivers</h4>
                    <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose section end -->
<!-- client section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div id="custom_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="client_taital">What Says Customers</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img1.png"></div>
                                    <h3 class="moark_text">Hannery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img2.png"></div>
                                    <h3 class="moark_text">Channery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="client_taital">What Says Customers</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img1.png"></div>
                                    <h3 class="moark_text">Hannery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img2.png"></div>
                                    <h3 class="moark_text">Channery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="client_taital">What Says Customers</h1>
                        </div>
                    </div>
                    <div class="client_section_2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img1.png"></div>
                                    <h3 class="moark_text">Hannery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="client_taital_box">
                                    <div class="client_img"><img src="images/client-img2.png"></div>
                                    <h3 class="moark_text">Channery</h3>
                                    <p class="client_text">It is a long established fact that a reader will be distracted by the readable content of a page</p>
                                </div>
                                <div class="quick_icon"><img src="images/quick-icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- client section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Get In Touch</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact_section_2">
            <div class="row">
                <div class="col-md-12">
                    <div class="mail_section_1">
                        <input type="text" class="mail_text" placeholder="Name" name="Name">
                        <input type="text" class="mail_text" placeholder="Email" name="Email">
                        <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        <div class="send_bt"><a href="#">Send</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>